<!DOCTYPE html>
<html lang="en">
 
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
 
  <title>Clean Blog - Start Bootstrap Theme</title>
 
  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
 
  <!-- Custom fonts for this template -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
    rel='stylesheet' type='text/css'>
 
  <!-- Custom styles for this template -->
  <link href="/css/clean-blog.min.css" rel="stylesheet">
</head>
 
<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="index.html">Start Bootstrap</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">

        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/all-post">All Post</a>
          </li>
          @if(!auth)
            <li class="nav-item">
              <a class="nav-link" href="/auth/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/auth/register">Register</a>
            </li>
          @else
            <li class="nav-item">
                <a class="nav-link" href="/my-post">My Post</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/new-post">New Post</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/auth/logout">Logout</a>
            </li>
            <li>
                <span class= "text-white"> Hi {{userName}}</span>
            </li>
          @endif
        </ul>

        <!--
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="./home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./post">Sample Post</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./contact">Contact</a>
          </li>

          @if(!auth)
            <li class="nav-item">
              <a class="nav-link" href="/auth/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/auth/register">Register</a>
            </li>
          @else
            <li class="nav-item">
              <a class="nav-link" href="/auth/logout">Logout</a>
            </li>
          @endif
        </ul>
        -->


      </div>
    </div>
  </nav>
 
  @!section('content')
 
  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
            <!-- Content -->
            <h5 class="text-uppercase">Footer Content</h5>
            <p>Here you can use rows and columns to organize your footer content.</p>
            <ul class="list-unstyled mb-0">
                <li>
                    <i class="fa fa-map-marker"></i> San Francisco, CA 94126, USA
                </li>

                <li>
                    <i class="fa fa-phone mt-4"></i> + 01 234 567 89
                </li>

                <li><i class="fa fa-envelope mt-4"></i> contact@mdbootstrap.com
                </li>
            </ul>
        </div>
        <!-- Grid column -->
        <hr class="clearfix w-100 d-md-none pb-3">
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
            <!-- Links -->
            <h5 class="text-uppercase">Links</h5>

            <ul class="list-unstyled">
                <li>
                    <a href="/about">About Us</a>
                </li>
            </ul>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
            <!-- Links -->
            <h5 class="text-uppercase">Links</h5>
            <ul class="list-unstyled">
                <li>
                    <a href="/contact">Contact Us</a>
                </li>
            </ul>
        </div>
        <!-- Grid column -->


        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; Your Website 2018</p>
        </div>
      </div>
    </div>
  </footer>
 
  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
 
  <!-- Custom scripts for this template -->
  <script src="/js/clean-blog.min.js"></script>
  <script src="/js/script.js"></script>
  @!section('footer')
  
</body>
 
</html>